<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афиша культурных событий в городе</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Афиша культурных событий в городе</h1>
        <nav class="menu">
            <button class="toggle-menu" onclick="toggleMenu()">Меню</button>
            <ul class="menu-items" id="menu-items">
                <li><a href="#">Избранное</a></li>
                <li><a href="#">Календарь событий</a></li>
                <li><a href="#">Уведомления</a></li>
                <li><a href="#">Карта событий</a></li>
                <li><a href="#">Мои билеты</a></li>
                <li><a href="#">История</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <input type="text" id="search" placeholder="Поиск по имени, тегам или названию события">
        <button id="search-button">Поиск</button>

        <div class="event-cards" id="event-cards">
            {% for event in events %}
                
            {% endfor %}
        <!-- TODO div в a'шки -->
        
        </div>
    </main>


    <!-- Подключение JavaScript для управления меню -->
    <script>
        function toggleMenu() {
            const menuItems = document.getElementById("menu-items");
            if (menuItems.style.display === "block") {
                menuItems.style.display = "none"; // Скрыть меню
            } else {
                menuItems.style.display = "block"; // Показать меню
            }

        
        }
        const buttons = document.querySelectorAll(".details-button")
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                const button_id = this.id.split('-')[1];
                console.log(`ID - ${button_id}`)
                
                const element_button = document.getElementById(`detail-${button_id}`)
                console.log(`text - ${element_button.innerText}`)
                const button_text = element_button.innerText
                

            });
        });

        document.getElementById('search').addEventListener('input', function() {
        // console.log("Вызов")
        const query = this.value.toLowerCase(); // Получаем введенный текст в нижнем регистре
        const cards = document.querySelectorAll('.event-card'); // Получаем все карточки
        cards.forEach(card => {
            // console.log(card.getAttribute('data-title'));
            const title = card.getAttribute('data-title').toLowerCase(); // Получаем название события из атрибута
            if (title.includes(query)) {
                card.style.display = 'block'; // Показываем карточку, если название содержит запрос
            } else {
                card.style.display = 'none'; // Скрываем карточку, если нет совпадений
            }
    });
    });
        
    </script>

</body>
</html>